/* Wrapper */
#wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}
/* Desktop: reserve space for sidebar */
#wrapper {
  padding-right: 26em; /* match #sidebar width */
}

/* Mobile/tablet: no reserved space (off-canvas sidebar) */
@media screen and (max-width: 1280px) {
  #wrapper {
    padding-right: 0;
  }
}